.allpage {
	background-color: white;
	padding: 6.45%  4.57%;
}
body {
	background-color: lightgrey;
	margin: 0% 11%;
}
.page {
	margin-top: 30px;
	margin-bottom: 50px;
}
ul { 
	font-family: arial;
	padding: 10px;
	display: block;
	margin-left: 25px;
}
#img-logo {
	width: 15%;
}
li {
	display:block;
	list-style-type: none;

}
.HorizMenu {	
	display: -moz-inline-stack!important;
	display:inline;
	padding: 0px 0px 0px 0px;
}
#open_page {
	background-color: #f9f9f9;
	padding-left: 40px;
}
#open-section-top {
	border-left: solid grey 1px;
	border-right: solid grey 1px;
	background-color: #484848;
}
#open-section-footer {
	text-decoration: underline;
}
.last_menu {
	background-color: #e1e1e1;
}
.left_menu {
	float: left;
	height: 520px;
	width: 250px;
}
.points-left-menu { 
	margin: 0px;
	padding: 10px;
	border-top: solid #c8c8c8 1px;
	height: 30px;
	padding-bottom: 3px;
	padding-left: 35px;
}
.bicycle {
	border: solid #c8c8c8 1px;
	padding: 30px 70px;
	width: 57%;
}
.first_menu {
	background: linear-gradient( to top, #444343, #595959);
    	
}
.first-menu {
	padding:0px;
	margin: 0px;
	color: white;
	font-size: 0;
	line-height: 0;
	letter-spacing: -1px;
	height: 50px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	-webkit-padding-start: 0px;
}
p {
	font-family: arial;
	margin-left: 300px;
	font-size: 14px;
	line-height: 1.5;
}
#velo {
	text-align: right;
	margin: 0px;
}
.left-menu {
	font-size: 14px;
	margin: 0px;
	padding: 0px;
	border: solid #c8c8c8 1px;
	display: inline-block;
}
.block-menu {
	margin: 0px 45px;
}
.main-section {
	margin: 0px 45px 0px 0px;
}
#first-point-left-menu {
	border-top: none;
}
.li-first {
	font-size: 14px;
	line-height: normal;
	letter-spacing: normal;
	padding: 0px;
	margin: 20px;
	height: 18px
	text-align: bottom;
	display: inline-block;
}