body {
	margin: 8px 330px 28px;
	background-color: lightgrey;
}
.group {
	border-top: 1px solid grey;
	padding-top: 8px;

}

.firstdiv {
	border: 1px solid grey;
	padding: 20px 100px;
}
div {
	background-color: white;
}
img{
	width:  28%;
	border-radius: 10px;
	border-width: 411px;

}
#feedback {
	line-height: 1;
}
#center_name {
	text-align: center;

}
#name{
	font-size: 22px;
	font-weight: bold;
}

#link {
	color: blue;
}

#socnetworks{
	margin-top: 40px;
}

#name_company {
	text-transform: uppercase;
} 

.contact {
	line-height: 0.3;
}

ul {
	padding: 0px; 
	margin-left: 20px;
} 
a:visited { 
	color: blue;
}