body {
	margin: 10px 80px;
}
.group {
	border-top: 1px solid grey;
	padding-top: 8px;

}

img{
	width:  15%;
	border-radius: 10px;
	border-width: 411px;

}

#center_name {
	text-align: center;

}
#name{
	font-size: 25px;
	font-weight: bold;
}

#link {
	color: blue;
}

#socnetworks{
	margin-top: 40px;
}

#name_company {
	text-transform: uppercase;
} 

.contact {
	line-height: 0.3;
}

ul {
	padding: 0px; 
	margin-left: 20px;
} 