*{
	margin: 0;
	padding: 0;
}
.header {
	width: 350px;
	float: left;
	height: 175px;
}

p {
	font-family: Tahoma;
	font-size: 14px;
}
body {
	background-image: url('../img/bg-hm4.jpg');
}
#google {
	margin-top: -25px;
	opacity: 0;
}
.page-white {
	background-color: white;
	margin: -5px 145px 30px;
	background: white; /* Цвет фона */
	box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
	width: 1000px;
    margin: 0 auto;
}
#logo {
	float: left;
	height: 173px;
	width: 300px;
	position: relative;
	left: 30px;
	top: 4px;
}
.top {
	height: 160px;
	margin-top: -5px;
}
.contact {
	float: right;
	position: relative;
	right: 20px;
	top: 10px;
}
.contacts {
	line-height: 2;
}
.country {
	text-decoration: underline;
	font-family: Tahoma;
	font-size: 10px;
	color: #128aa7;
}
#name-country {
	position: absolute;
	padding-top: 145px;
	padding-left: 665px;
	width: 300px;
}
.contactP {
	font-size: 12px;
	font-family: Tahoma;
	color: #128aa7;
}
#flag {
	width: 325px;
	position: relative;
	right: -100px;
	top:100px;
	float: right;
}
ul {
	display:block;
}
li {
	display: block;
	list-style-type: none;

}
ul.main-menu > li:hover > ul.submenu {
	display: block;
}
.horiz-menu {
	float: left;
	padding-left: 50px;
	padding-right: 3px;
}
.menu {
	padding-top: 5px;
	background: linear-gradient( to top, #303030, #373737);
	margin-top: -8px;
	height: 30px;
}
.main-menu > li > :after {
	float: none;
	font-size: 14px;
}
.refs {
	text-decoration: none;
}
.main-menu li {
	float:left;
	padding: 3px 0px 3px 65px;
	box-sizing: border-box;
}
.main-menu {
	background-image: url("../img/3.png" );
	background-size: 100px 20px;
}
#photo {
	position: relative;
	left: 0px;
	width: 1000px;
	top: 0px;
	border-top: solid #128aa7 1px; 
	border-bottom: solid #128aa7 1px;
	padding: 0px;
}
ul {
	font-family: Tahoma;
	font-size: 14px;
	color: white;
}
.table {
	float: left;
	border-collapse: collapse;
}
.title {
	font-size: 18px;
	text-align: center;
	font-weight: 500;
}
footer {
	clear: both;
	text-align: center;
	background-color: transparent;
	font-size: 12px;
	color: white;
}
.submenu li {
	float: none;
	padding: 0px 15px 0px 0px;
}
.clear-fix:after {
	content: ".";
	clear: both;
	display: block;
	visibility: hidden;
}
table {
	border: none;
}
.figure:after {

	content: ' '; 
	position: absolute; /* Абсолютное позиционирование */
	left: 155px; 
	top: 10px;	 /* Положение треугольника */
	border: 3px solid transparent;	
	border-top: 7px solid white;  
}
.figure-first:after {

	content: ' '; 
	position: absolute; /* Абсолютное позиционирование */
	left: 115px;
	top: 10px;/* Положение треугольника */
	border: 3px solid transparent;	
	border-top: 7px solid white;   
}
.figure-second:after {

	content: ' '; 
	position: absolute; /* Абсолютное позиционирование */
	left: 140px; 
	top: 10px;
	bottom: 4px; /* Положение треугольника */
	border: 3px solid transparent;	
	border-top: 7px solid white;   
}
.main-menu li:after {
	content: ".";
	clear: both;
	display: block;
	visibility: hidden;
}
.field {
	width: 1000px;
	background-image: url("../img/line3.png");
	background-repeat: repeat-y;
	background-color: white;
	background-size: 1000px;
	float: left;
	position: relative;
	top: -10px;
}
.column {
	float: left;
}
#first-col {
	width:210px;
	text-align: center;
	padding: 0px;
	vertical-align: top;
}
#second-col {
	width: 575px;
}
#third-col {
	text-align: center;
	width:210px;
	padding: 0px 0px 0px 0px;
	vertical-align: top;
}
p {
	line-height: 1.8;
}
.small {
	line-height: 1.5;
}
.submenu-f{
	/*	position: relative;
	top: 80px;
	left: 40px;
}
.submenu-s{
	position: relative;
	top: 80px;
	left: 90px;
}
*/}

.submenu {
	display: none;
	box-shadow:  0 0 15px rgba(0,0,0,0.5); 
	background-color: #373737;
	padding: 10px;
	line-height: 1.52;
	z-index: 9999;
	position: absolute;
	top: 30px;
}
.main-menu li {
	position: relative;
	height: 30px;
	box-sizing: border-box;
}
.travel {
	width: 115px;
	padding-right: 0px;
}
ul li a {
	text-decoration: none;
	color:white;
}

/* 1. Не задавайте ширину body
2. page-white задайте:
    width: 1000px;
    margin: 0 auto;
3. .main-menu прибрати overflow: hidden; та height: 20px;
4. .submenu прибрати margin: -8px;
додати     top: 30px;
5.   додати position: relative;
6. Підправте колонки, їх треба зверстати одним із способів описаних в статті, не задаючи фіксованої висоти, у вас задана висота:
.field {
    width: 1800px;
    background-image: url("../img/line1.png");
    background-repeat: repeat-y;
    background-size: 1000px;
    height: 540px; 




1. page-white прибрати висоту
2. стрілочкам (афтерам) задати position: absolute; та задате відповідне топ, райт
3. .field прибрати top: -10px;
додати background-color: white;
4. на посилання в меню зробити курсор поінтер
5. .main-menu li   додати height: 30px; і box-sizing: border-box;
наче має працювати
/*