* {
	margin:0;
	padding:0;
	font-family: Tahoma;
	font-size: 14px;
}
body {
	position: relative;
}

.img-bg {
	background-image: url('../img/5/bg5.png') ; 
	background-size: cover;
	background-repeat: no-repeat;
	width: 1210px; 
	height: 1050px;
	margin: 0 auto;  
	position: relative;
}
.refs {
	text-decoration: none;
	color: white;
	text-decoration: underline;
}
a {
	text-decoration: none;
}
p {
	display: block;
}

#background-header {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1210px;
}
li {
	float: left;
	list-style-type: none;
	padding: 10px;
	padding-bottom: 13px;
	color: lightblue;
}

.menu {
	position: absolute;
	left: 465px;
	top: 2px;
	width: 399px;
	height: 36px;
	overflow: hidden;
	margin-top: -2px;
}
.menu li a {
	color: lightblue;
}
#flag {
	position: absolute;
	top:5px;
	left: 850px;
	height: 25px;
}
.top-button {
	position: absolute;
	left: 840px;
	width: 350px;
}
.line {
	margin-top: 2px;
	height: 30px;
	border-left: 1px solid lightblue;
	display: block;
	width: 1px;
	float: left;
	padding-left: 30px;
}
.top_button a  {
	color: white;
}
.top-button ul li{
	color: white;
}
.menu li:hover {
	background-color: #4eabda;
}
.menu li a:hover {
	color: white;
}
.menu li a {
	cursor: pointer;
}

#last-li {
	border: solid 1px #53ade8;
	background-color: #4faedb;
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.3) 20%, rgba(255,255,255,.3));
	background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.3) 20%, rgba(255,255,255,.3));
	background-image: -o-linear-gradient(bottom, rgba(0,0,0,.3) 20%, rgba(255,255,255,.3));
	background-image: -ms-linear-gradient(bottom, rgba(0,0,0,.3) 20%, rgba(255,255,255,.3));
	background-image: linear-gradient(to top, rgba(0,0,0,.3) 20%, rgba(255,255,255,.3));
	height: 11px;
}

.content {
	position: absolute;
    top: 24%;
    left: 52%;
    transform:translate(-50%,-50%);
    width: 560px;
    height: auto;

}

.f-block  p {
	font-size: 24px;
	color: #ffffff;
	text-align: center;
	padding-top: 15px;
}
.f-block {
	position: absolute;
	height: 60px;
	width: 560px;
	background-color: rgba(0,0,0,0.63);
}
.s-block {
	position: absolute;
	top: 65px;
	padding: 0 0 15px 0;
	height: 545px;
	width: 560px;
	background-color: rgba(0,0,0,0.63);
}

.log-in-fb-but a{
	display: block;
	width: 275px;
	height: 35px;
	position: absolute;
	top: 40px;
	left: 140px;
	background-image: url("../img/5/log-in-fb-but.png");
	border: none;
	cursor: pointer;
}
#ou-line {
	z-index: 2;
	width: 275px;
}
.ou-line {
	position: absolute;
	top: 100px;
	left: 140px;
}
.ou-text {
	position: absolute;
	top: 103px;
	left: 268px;
	color: #999999;
}
input {
	display: inline-block;
	padding: 9.5px 15px;
}
.form-p2 {
display: block;
width: 550px;
margin:  0 auto;
}
.form-p2-in {
display: block;
width: 550px;
margin:  0 auto;
}
form 
{
	display: block;
width: 550px;
margin:  0 auto;
}
.poi {
display: block;
width: 50%;
margin:  0 auto;
padding-top: 130px;
}
.poi p {
	margin-top: 15px;
}

.form-black {
	width: 245px;	
	border: none;
	border-bottom: 1px solid #494948;
	background-color: black;

}

.form-black:focus {
	background: #1b5288; /* Цвет фона */
	border: 1px solid #85c9d4; /* Параметры рамки */
	box-shadow: 0 0 30px rgba(47,123,197,.77), 0 1px #4b4b4b, inset 0 2px 5px rgba(29,26,22,.2), inset 0 0 2px rgba(0,0,0,.1); 
}

.form-p2 {
	width: 550px;
}
.form-p2in {
	margin: auto;

}
.checkbox {
	position: absolute;
	top: 405px;
	left: 140px;
	color: #cccccc;
}

.buttom-button {
	width: 150px;
	position: absolute;
	top: 440px;
	left: 200px;
	
}
.buttom-button input {
	cursor: pointer;
}

#bb {	
	border: solid 1px #53ade8;
	border-radius: 2px;
	background-color: #4299d2;
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.3) 20%, rgba(255,255,255,.3));
	background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.3) 20%, rgba(255,255,255,.3));
	background-image: -o-linear-gradient(bottom, rgba(0,0,0,.3) 20%, rgba(255,255,255,.3));
	background-image: -ms-linear-gradient(bottom, rgba(0,0,0,.3) 20%, rgba(255,255,255,.3));
	background-image: linear-gradient(to top, rgba(0,0,0,.3) 20%, rgba(255,255,255,.3));
	width: 155px;
	height: 36px;
	color: white;
}
.Privacy-Policy {
	width: 310px;	
	position: absolute;
	top: 495px;
	left: 120px;
}
.Privacy-Policy p {
	font-size: 11px;
	color: #cccccc;
	text-align: center;
	line-height: 1.5;
}

/*
1.Ховер-ефекти на всі елементи меню
2. прибрати висоту боді
3. в html стр.62 </div> перенести після </form> (цю помилку видно на валідаторі, не забувайте перевіряти на ньому)
4. на хедері фон треба задавати не картинкою, а кольором
5. для боді background-size: cover;
6. в коді є кілька зайвих <div>
7. форму треба відцентрувати автоматично, 
	горизонтально - margin: auto, вертикально - https://habrahabr.ru/company/netcracker/blog/277433/
8. Фейсбук зробити кнопкою
9.чекбокс і кнопку відправки внести під форму

	*/
	как правильно переносить стили из фш в цсс?
	по поводу пункта 7 - горизонт. сделала,  верт. выровняла паддингом т к там ненужно именно ЦЕНТРИРОВАНИЕ по вертикали 
	(мне кажется,в макете разные по высоте отступы сверху и снизу)
	